/* Big tablets to 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2px;
    }

    .row {
        padding: 0 2%;
    }
}

/* Small tablets to big tablets */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin: 0 10%;
    }

    .steps-box {
        margin-top: 10px;
    }
}


/* Small phones to small tablets */
@media only screen and (max-width: 767px) {

}

/* Small phones 0 to 480px */
@media only screen and (max-width: 480px) {

} 