.container {
    height: 700px;
    width: 700px;
    background-color: grey;

    display: grid;
    grid-gap: 30px;

    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(3, 3fr) 18%;

    margin: 25px auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.item--1 {
    grid-column: 1 / -1;
}

.item--2,
.item--3,
.item--4 {
    grid-row: 2 / span 2;
}

.item--5 {
    grid-row: 2 / -2;
}

.item--6 {
    /* row start, column start, row end, column end */
    grid-area: 4 / 1 / -2 / -2;

}

.item--7 {
    grid-column: 1 / -1;
}