.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;

    /* grid-template-rows: repeat(2, 150px); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 30px;

    /* align grid tracks to grid containers */
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 200px);
    height: 1000px;

    /* implicit grid */
    grid-auto-rows: 80px;
    grid-auto-columns: .5fr;
    grid-auto-flow: row dense;

    /* cell alignmnet */
    align-items: center;
    justify-items: center;

    /* grid area alignment */
    justify-content: space-between;
    align-content: center;

}

.item {
    padding: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
}

.item--4 {
    background-color: crimson;
    grid-row: 2 / span 3;
    align-self: start;
    justify-self: start;
}

.item--7 {
    background-color: crimson;
    grid-column: 1 / -1;
}

