* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;
    /* grid-template-rows: 150px 150px; */
    /* grid-template-columns: 150px 150px 150px; */
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(2, 150px) 300px;
    
    /* grid-row-gap: 30px; */
    /* grid-column-gap: 30px; */
    grid-gap: 30px
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item--1 {
    background-color: orangered;
}
.item--2 {
    background-color: yellowgreen;
}
.item--3 {
    background-color: blueviolet;
}
.item--4 {
    background-color: palevioletred;
}
.item--5 {
    background-color: blue;
}
.item--6 {
    background-color: goldenrod;
}