.feature-box {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: transform .2s;

    &__icon {
        font-size: 6rem;
        display: inline-block;
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        );
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);
        box-shadow: 0 1rem 2rem rbga($color-black, 0.5);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 2rem 2rem rbga($color-black, 0.5);
    }
}