.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;

    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: center;
    grid-gap: 2rem;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        display: block;

        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, 0.05);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem;
}