<div class="section-header" id="section-header">

    <!-- overlay background -->
    <div class="header-background">
        {% if site.background.video %}
            <div class="header-background__video-container">
                <video class="header-background__video-container--video" id="header-video" autoplay muted loop >
                    <source src="{{ site.baseurl }}/{{ site.background.video }}" type="video/mp4">
                </video>
                <div class="header-background__video-container--background"></div>
            </div>
        {% elsif site.background.image %}
            <div class="header-background__image-container">
                <div class="header-background__image-container--image" style="background-image: url({{ site.baseurl }}/{{ site.background.image }}) !important;"></div>
                <div class="header-background__image-container--background"></div>
            </div>
        {% elsif site.background.color %}
            <div class="header-background__color" style="background-color: #{{ site.background.color }} !important;"></div>
        {% endif %}
    </div>

    <!-- overlay content -->
    <div class="banner">
        <h1 class="banner__text">
            <span class="banner__text--title">{{ site.header }}</span>
            <span class="banner__text--description">{{ site.description }}</span>
        </h1>
        <div class="banner__logos">
            {% for icon in site.data.icons %}
                <a class="banner__link" aria-label="{{ icon.label }}" href="{{ icon.href }}" target="_blank"><i class="header__icon {{ icon.icon }}"></i></a>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="scrolldown">
        <a href="#{{ site.data.sections[0].id }}" class="banner__scrolldown-link" data-scroll>
            <span class="banner__scrolldown-icon fa fa-chevron-down"></span>
        </a>
    </div>
</div>