# miscellaneous
.sass-cache
.jekyll-metadata
.vscode

# internal tools
_site
_example

# illustrative drafts
.ai
raw/

# node modules
node_modules

# testing 
test.html
test.js

# misc
.DS_Store

